.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
  /* grid-template: none | <grid-template-rows> / <grid-template-columns>; */
}

.grid-item {
  background-color: aliceblue;
  border: 1px solid lightsteelblue;
  margin: 5px;
  padding: 20px;
  font-size: 15px;
  border-radius: 30px;
}

h3{
  text-align: left;
  font-size: 40px;
  color: red;
  font-weight: bold;
}

p {
  text-align: left;
  font-size: 25px;
  color: white;
  font-weight: bold;
}

a {
  color: orange;
}
