<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>

</div>
<h2>Main Images & Animal Info Landing: </h2>
<div class="grid-container">
  <div>
    <ul class="grid-item" *ngFor="let currentMainImg of masterMainImgScrollList">
      <li>
        <h2>{{currentMainImg.species}}</h2>
      </li>
      <li>
        <h2>{{currentMainImg.description}}</h2>
      </li>
      <li>
        <h2><a>{{currentMainImg.link}}</a></h2>
      </li>
    </ul>
  </div>
</div>
