<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>

<app-main-img-list [childMainImgList]="masterMainImgScrollList" (clickSender)="editMainImgInfo($event)"></app-main-img-list>

<app-edit-main-list [selectedMainImg]="selectedMainImg" (clickedDone)="finishedEditingApp()"></app-edit-main-list>

<app-add-main-img (sendMainImg)="addMainImg($event)"></app-add-main-img>

<h2 id="centerWords">porro quisquam est <span class="redWords"> qui dolorem</span></h2>

<p>"Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis." -Neque</p>

<p>Maecenas id pretium libero. Aenean ac nulla volutpat, elementum nisl quis, hendrerit lorem. Suspendisse efficitur lacus nisi, feugiat facilisis quam pharetra a. In mollis, orci in pretium varius.</p>

<app-get-involved-list [childGetInvolvedList]="masterGetInvolvedList"></app-get-involved-list>
