<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>

<app-main-img-list [childMainImgList]="masterMainImgScrollList" (clickSender)="editMainImgInfo($event)"></app-main-img-list>

<app-edit-main-list [selectedMainImg]="selectedMainImg" (clickedDone)="finishedEditingApp()"></app-edit-main-list>

<app-add-main-img (sendMainImg)="addMainImg($event)"></app-add-main-img>

 <!-- [childMainImgList]="masterMainImgScrollList" -->
