#menu-top {
  background: #333333;
  height: 45px;
  margin-bottom: 0px;
  color: white;
}

nav.tab-bar {
  background: #F2F0EC;
  height: 120px;
}


img.logo {
  height: 74px;
  min-height: 74px;
  vertical-align: middle;
}

.nav-tabs {
  color: white;
  font-weight: bold;
}

nav.tab-bar img.logo {
  /* padding-left: 10px;
  padding-top: 20px; */
}

img {
  display: inline-block;
  vertical-align: middle;
}
