body {

}

#menu-top {
  background: #333333;
  height: 45px;
  margin-bottom: 0px;
  color: white;
}

nav.tab-bar {
  background: #F2F0EC;
  height: 120px;
}

nav li {
  color: green;
}

p {
  color: green;
}


img.logo {
  height: 74px;
  min-height: 74px;
  vertical-align: middle;
  margin: 20px;
}

.nav-tabs {
  color: white;
  font-weight: bold;
}


img {
  display: inline-block;
  vertical-align: middle;
}
