<h2 (click)="newMainImgForm()">Add Another Species</h2>
<div *ngIf="selectedHeader">
  <form class="w-75 p-3">
    <div class="form-group">
      <label>Enter Species:</label>
      <input #newSpecies class="form-control">
    </div>
    <div class="form-group">
      <label>Enter Description:</label>
      <input #newDescription class="form-control">
    </div>
    <div class="form-group">
      <label>Enter Link:</label>
      <input #newLink class="form-control">
      <button class="btn btn-primary" (click)="submitForm(newSpecies.value, newDescription.value, newLink.value); newSpecies.value=''; newDescription.value=''; newLink.value=''; finishedAddNew();">Add</button>
      <!-- <button (click)="finishedAddNew()">Add Species!</button> -->
    </div>
</form>
</div>
